openapi: 3.0.0
info:
  'title ': /Users/jasonfan/Documents/code/api2sdk/api2sdk/test_data/hn_mitmproxy_dumphnAPI
  version: 1.0.0
servers:
- url: https://news.ycombinator.com
  description: The default server
paths:
  /:
    get:
      summary: 'GET '
      responses:
        '200':
          description: OK
          content: {}
      parameters:
      - name: p
        in: query
        required: false
        schema:
          type: number
  /item:
    get:
      summary: GET item
      responses:
        '200':
          description: OK
          content: {}
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: number
  /newest:
    get:
      summary: GET newest
      responses:
        '200':
          description: OK
          content: {}
  /show:
    get:
      summary: GET show
      responses:
        '200':
          description: OK
          content: {}
  /jobs:
    get:
      summary: GET jobs
      responses:
        '200':
          description: OK
          content: {}
  /submit:
    get:
      summary: GET submit
      responses:
        '200':
          description: OK
          content: {}
  /ask:
    get:
      summary: GET ask
      responses:
        '200':
          description: OK
          content: {}
  /newcomments:
    get:
      summary: GET newcomments
      responses:
        '200':
          description: OK
          content: {}
  /front:
    get:
      summary: GET front
      responses:
        '200':
          description: OK
          content: {}
  /threads:
    get:
      summary: GET threads
      responses:
        '200':
          description: OK
          content: {}
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
  /comment:
    post:
      summary: POST comment
      responses:
        '200':
          description: OK
          content: {}
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                parent:
                  type: string
                goto:
                  type: string
                hmac:
                  type: string
                text:
                  type: string
x-path-templates: []
